
.shortcut {
    height:30px;
    line-height: 30px;
    background-color: #f1f1f1;
}
.shortcut2 {
    width: 60px;
    height:30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.dt, .shortcut, .fore{
    padding:0 20px 0 10px;
    position:relative;
}

.dt i, .fore i {
    font:400 15px/15px "宋体";
    position: absolute;
    top:13px;
    right:3px;
    height:9px;
    overflow: hidden;
    width:15px;
}

.dt s, .fore s{
    position: absolute;
    top: -8px;
    left: 0;
    text-decoration: none
}

.fr li{
    float:left;
    padding:0 10px;
}

.fr .line{
    width:1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding:0 20px 0 25px;
}
.tel{
    positoin:absolute;
    width:15px;
    height:20px;
    background: url(../images/sprite.png) no-repeat;
    left:5px;
    top:5px;
}